footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: flex-start;
  width: 50%;
}

/* INPUT  */

.inputWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
input.typeInput {
  /* border: solid black 4px; */
  border: none;
  border-radius: 1rem;
  font-size: 3rem;
  padding: 1rem;
  margin-inline-end: 2rem;
  width: 100%;
}

/* MIC ACTIVATION  */

.micBtnWrapper {
  display: flex;
  flex-direction: column;
  width: 25%;
  text-align: center;
  align-items: center;
  justify-content: end;
  button {
    background-color: transparent;
    box-shadow: none;
    border: none;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    max-width: 50px;
  }
  button {
    display: flex;
    span {
      color: white;
    }
  }
}

/* wRAPPER  */
.footer-wrapper {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}
